*{
    margin: 0;
    padding: 0;
    background-color: #6e5c62;
}
.menu{
    text-align: center;
    align-items: center;
    margin-top: 5px;
}
#titulo{
    font-family: Bradley Hand, cursive;  /* 'Mitr', sans-serif */
    color: white;
    font-size: 50px;
}



#dica{
    font-family: Verdana;
    text-align: center;
    color: #FAFAFF;
    margin-top: 15px;
}



.jogo{
    margin-left: 15%;
    margin-top: 40px;
    display: inline-flex;
}




.palavra{
    display: flex;
    margin-top: 11%;
    font-size: 50px;
    justify-content: center;
    font-family: Verdana;
    color: #FAFAFF;
}
.letrinhas_palavra{
    padding-left: 15px;
    font-size: 90px;
}



button{
    touch-action: manipulation;
    outline: none;
    background-color: #4C4347;
    grid-column: span 3;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    border-radius: 8%;
    font-weight: 500;
    font-family: 'Mitr', sans-serif;
    cursor: pointer;
    border: none;
    color: #FAFAFF;
    padding: 20px;
    font-weight: bold;
}
.fileira1{
    margin-top: 40px;
    padding-left: 50px;
}
.fileira2{
    padding-left: 80px;
    margin-top: 10px;

}
.fileira3{
    padding-left: 135px;
    margin-top: 10px;
}
.fileira4{
    padding-left: 55px;
    text-align: center;
    margin-top: 40px;
}

